version: "3.9"

services:
  user-db:
    image: postgres:16
    container_name: user-db
    environment:
      POSTGRES_DB: cinema_userdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - ../user-service/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - microservice-net

  user-service:
    build: ../user-service
    container_name: user-service
    ports:
      - "8081:8081"
    depends_on:
      user-db:
        condition: service_healthy
      # kafka:
      #   condition: service_healthy
    networks:
      - microservice-net

networks:
  microservice-net:
    external: true
